.jumbotron {
  height: 175px;
}

.timetable-carousel-btn
{
  height: 100%;
  width: 100%;
}

.autoContainer {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 3;
}

.pos-rel {
  position: relative;
}
